# Build results
bin/
obj/
TestResults/
*.user
*.suo
*.cache
*.log
*.vs/
*.db-shm
*.db-wal

# Rider / Visual Studio
.idea/
.vscode/
*.userprefs


# Coverage reports
coverage.cobertura.xml
coverage.opencover.xml

# Secrets / config overrides
appsettings.Local.json
